<div class="page-container">
  <div class="container">
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="{{ circleAndRect }}" alt="d3-logo">
        <div class="card-body">
          <h4 class="card-title">Circle and Rect</h4>
          <p class="card-text">园和矩形的定位</p>
          <a href="javascript:;" id="circle-and-rect" class="btn btn-primary">Go</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="{{ d3Logo }}" alt="d3-logo">
        <div class="card-body">
          <h4 class="card-title">d3 svg bar chart</h4>
          <p class="card-text">最基础的svg柱状图</p>
          <a href="javascript:;" id="svg-bar" class="btn btn-primary">Go</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="{{ d3Logo }}" alt="d3-logo">
        <div class="card-body">
          <h4 class="card-title">Circle and Rect</h4>
          <p class="card-text">别的主题</p>
          <a href="javascript:;" class="btn btn-primary">Go</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="{{ d3Logo }}" alt="d3-logo">
        <div class="card-body">
          <h4 class="card-title">Circle and Rect</h4>
          <p class="card-text">别的主题</p>
          <a href="javascript:;" class="btn btn-primary">Go</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="{{ d3Logo }}" alt="d3-logo">
        <div class="card-body">
          <h4 class="card-title">Circle and Rect</h4>
          <p class="card-text">别的主题</p>
          <a href="javascript:;" class="btn btn-primary">Go</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="{{ d3Logo }}" alt="d3-logo">
        <div class="card-body">
          <h4 class="card-title">Circle and Rect</h4>
          <p class="card-text">别的主题</p>
          <a href="javascript:;" class="btn btn-primary">Go</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="{{ d3Logo }}" alt="d3-logo">
        <div class="card-body">
          <h4 class="card-title">Circle and Rect</h4>
          <p class="card-text">别的主题</p>
          <a href="javascript:;" class="btn btn-primary">Go</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="{{ d3Logo }}" alt="d3-logo">
        <div class="card-body">
          <h4 class="card-title">Circle and Rect</h4>
          <p class="card-text">别的主题</p>
          <a href="javascript:;" class="btn btn-primary">Go</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="{{ d3Logo }}" alt="d3-logo">
        <div class="card-body">
          <h4 class="card-title">Circle and Rect</h4>
          <p class="card-text">别的主题</p>
          <a href="javascript:;" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>
